<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Dashboard</title>
  </head>
  <body class="sb-nav-fixed">
    <div id="navbar" *ngIf="isAdmin">
      <app-nav-admin></app-nav-admin>
    </div>
    
    <div id="layoutSidenav" *ngIf="isAdmin">
      <div id="sidenav">
        <app-side-admin></app-side-admin>
      </div>
    </div>

      <div class="container my-4">
        <h2>Tabel Coment</h2>
        <ol class="breadcrumb mb-4">
          <a routerLink="/admin-dashboard" class="breadcrumb-item">Dashboard</a>
          <li class="breadcrumb-item active">Tabel Coment</li>
        </ol>
        <button class="btn btn-primary mb-3" (click)="isEditMode = false; komentarForm.reset()" data-bs-toggle="modal" data-bs-target="#addKomentarModal">
          Tambah Komentar
        </button>
        <div class="table-container">
        <table class="table table-bordered" id="ComentTable">
          <thead>
            <tr>
              <th>ID Komentar</th>
              <th>Film</th>
              <th>User</th>
              <th>Rating User</th>
              <th>Komentar</th>
              <th>Created At</th>
              <th>Updated At</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let komen of komentarList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
              <td>{{ komen.id_komentar }}</td>
              <td>{{ komen.film }}</td>
              <td>{{ komen.user }}</td>
              <td>{{ komen.rating_user }}</td>
              <td>
                {{ komen.komentar }}
              </td>
              <td>{{ komen.created_at }}</td>
              <td>{{ komen.updated_at }}</td>
              <td>
                <button class="btn btn-warning btn-sm me-1" (click)="editKomentar(komen)" data-bs-toggle="modal" data-bs-target="#addKomentarModal"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-danger btn-sm" (click)="deleteKomentar(komen.id_komentar)"> <i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div>

      <!-- Modal Tambah/Edit Komentar -->
<div class="modal fade" id="addKomentarModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ isEditMode ? 'Edit Komentar' : 'Tambah Komentar' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="komentarForm" (ngSubmit)="isEditMode ? updateKomentar() : onSubmit()">

          <div class="mb-3">
            <label for="idFilm" class="form-label">Film</label>
            <select id="idFilm" class="form-control" formControlName="id_film">
              <option *ngFor="let film of filmList" [value]="film.id_film">{{ film.nama_film }}</option>
            </select>
          </div>
          
          <div class="mb-3">
            <label for="idUser" class="form-label">User</label>
            <select id="idUser" class="form-control" formControlName="id_user">
              <option *ngFor="let user of userList" [value]="user.id_user">{{ user.nama }}</option>
            </select>
          </div>
          
          <div class="mb-3">
            <label for="ratingUser" class="form-label">Rating</label>
            <input type="number" id="ratingUser" class="form-control" formControlName="rating_user">
          </div>
          <div class="mb-3">
            <label for="komentar" class="form-label">Komentar</label>
            <textarea id="komentar" class="form-control" formControlName="komentar"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update Komentar' : 'Tambah Komentar' }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div
      class="d-flex align-items-center justify-content-between small"
    >
      <div class="text-muted">Copyright &copy; Moviers 2025</div>
      <div>
        <a routerLink="#">Privacy Policy</a>
        &middot;
        <a routerLink="#">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
